<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Yellow Studio</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;469;500;600;700" />
  <link rel="stylesheet" href="./style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

</head>

<body>
  <nav class="navbar navbar-expand-md fixed-top navbar-top at_top drop_down">
    <div class="container">
      <a class="navbar-brand" href="#header_index">Yellow Studio</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto" id="navbarmenu">
          <li class="nav-item"><a class="nav-link" href="#section_about">About</a></li>
          <li class="nav-item"><a class="nav-link" href="#section_works">Works</a></li>
          <li class="nav-item"><a class="nav-link" href="#section_contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <header id="header_index">
    <div class="container"><img class="icon" src="https://awiclass.monoame.com/img/webpic/w_icon.svg" alt="" /><img
        class="marginbottom mountain" src="https://awiclass.monoame.com/img/margin/m_index.svg" alt="" />
      <div class="explore at_top">EXPLORE</div>
    </div>
  </header>
  <section id="section_about"><img class="marginbottom" src="https://awiclass.monoame.com/img/margin/m_about.svg"
      alt="" />
    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-4"><img class="tri tri1" src="https://awiclass.monoame.com/img/webpic/w_tri1.svg"
            alt="" />
          <h2 class="r1text">WORKS IN YELLOW</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4"><img class="tri tri2" src="https://awiclass.monoame.com/img/webpic/w_tri2.svg" alt="" />
        </div>
        <div class="col-sm-8"><img class="tri tri3" src="https://awiclass.monoame.com/img/webpic/w_tri3.svg" alt="" />
          <h3 class="r2text">YELLOW STUDIO-Website Design / Development</h3>
          <h3 class="r2text">Interactive Art Design</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <h2 class="r3text">430 MORE SUCCESS CASES</h2>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-sm-4 btn-area"><a class="btn btn-lg btn-light" href="#section_works">MORE STORY</a><img
            class="tri tri4" src="https://awiclass.monoame.com/img/webpic/w_tri4.svg" alt="" /></div>
        <div class="col-sm-4"><img class="tri tri5" src="https://awiclass.monoame.com/img/webpic/w_tri5.svg" alt="" />
        </div>
      </div>
    </div>
  </section>
  <section id="section_service">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Service</h1>
        </div>
        <div class="col-sm-4"><img class="icon_service"
            src="https://awiclass.monoame.com/img/webpic/w_service_icon1.svg" alt="" />
          <h3>CI/VI Design</h3>
        </div>
        <div class="col-sm-4"><img class="icon_service"
            src="https://awiclass.monoame.com/img/webpic/w_service_icon2.svg" alt="" />
          <h3>MotionFraphic</h3>
        </div>
        <div class="col-sm-4"><img class="icon_service"
            src="https://awiclass.monoame.com/img/webpic/w_service_icon3.svg" alt="" />
          <h3>Web Development</h3>
        </div>
      </div>
    </div>
  </section>
  <section id="section_works">
    <div class="container" id="app">
      <div class="row" v-if="works.length&gt;0">
        <div class="col-12">
          <h1>Works</h1>
        </div>
        <div class="col-sm-6 work big"><img class="img-fluid" :src="works[1].img" alt="" />
          <div class="texts">
            <h4 class="title">{{works[1].name}}</h4>
            <p class="content" v-html="works[1].content.substr(0,40)"></p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6 work" v-for="w in works.slice(2,6)"><img :src="w.img" alt="" />
              <div class="texts">
                <h4 class="title">{{w.name}} </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.9/vue.js"></script>
  <script src="./script.js"></script>
</body>

</html>